In [1]:
# dependencies
import pandas as pd

In [2]:
# create file path
path = "../Resources/Crime_Data_from_2020_to_Present.csv"

# read file to DataFrame
orig_df = pd.read_csv(path)

In [3]:
# show DataFrame
cleaning_df = orig_df
orig_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [4]:
# delete unnecessary columns
del cleaning_df['DR_NO']
del cleaning_df['AREA']
del cleaning_df['Rpt Dist No']
del cleaning_df['Part 1-2']
del cleaning_df['Mocodes']
del cleaning_df['Premis Cd']
del cleaning_df['Weapon Used Cd']
del cleaning_df['Weapon Desc']
del cleaning_df['Status']
del cleaning_df['Status Desc']
del cleaning_df['Crm Cd 1']
del cleaning_df['Crm Cd 2']
del cleaning_df['Crm Cd 3']
del cleaning_df['Crm Cd 4']
del cleaning_df['LOCATION']
del cleaning_df['Cross Street']

cleaning_df.head()

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,LAT,LON
0,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,Southwest,624,BATTERY - SIMPLE ASSAULT,36,F,B,SINGLE FAMILY DWELLING,34.0141,-118.2978
1,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,Central,624,BATTERY - SIMPLE ASSAULT,25,M,H,SIDEWALK,34.0459,-118.2545
2,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,Central,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,POLICE FACILITY,34.0448,-118.2474
3,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",34.1685,-118.4019
4,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,Mission,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,BEAUTY SUPPLY STORE,34.2198,-118.4468

In [5]:
# rename columns
cleaning_df = cleaning_df.rename(columns={
    "Date Rptd": "Date Reported",
    "DATE OCC": "Date Occurred",
    "TIME OCC": "Time Occurred",
    "AREA NAME": "Geographic Area",
    "Crm Cd": "Crime Code",
    "Crm Cd Desc": "Crime Code Description",
    "Vict Age": "Victim Age",
    "Vict Sex":	"Victim Sex",
    "Vict Descent":	"Victim Ethnicity",
    "Premis Desc": "Premise Description",
    "LAT": "Latitude",
    "LON": "Longitude"
})

cleaning_df.head()

,Date Reported,Date Occurred,Time Occurred,Geographic Area,Crime Code,Crime Code Description,Victim Age,Victim Sex,Victim Ethnicity,Premise Description,Latitude,Longitude
0,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,Southwest,624,BATTERY - SIMPLE ASSAULT,36,F,B,SINGLE FAMILY DWELLING,34.0141,-118.2978
1,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,Central,624,BATTERY - SIMPLE ASSAULT,25,M,H,SIDEWALK,34.0459,-118.2545
2,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,Central,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,POLICE FACILITY,34.0448,-118.2474
3,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,N Hollywood,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",34.1685,-118.4019
4,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,Mission,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,BEAUTY SUPPLY STORE,34.2198,-118.4468

In [8]:
cleaned_df = cleaning_df
cleaned_df.to_csv("../Resources/Cleaned_Data.csv")